@model IEnumerable<OnlineDietManager.WebUI.Models.AppUserViewModel>
@using OnlineDietManager.Domain.UsersManagement

@{
    ViewBag.Title = "All users";
}

<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th class="col-xs-3">@Html.DisplayNameFor(model => model.UserName)</th>
        <th class="col-xs-3">@Html.DisplayNameFor(model => model.Role)</th>
        <th class="col-xs-3" >Actions</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Role)</td>
        
            <td class="row">
                @if (item.Role == AppRole.RoleTypeToString(AppRole.RoleType.User))
                {
                    using (@Html.BeginForm("GrantAdminRights", "UserManagement", 
                        FormMethod.Post, 
                        new { @class = "col-xs-2" }))
                    {
                        @Html.Hidden("userId", item.UserId)
                        @Html.Hidden("returnUrl", Request.Url)

                        <button type="submit" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    }

                    using (@Html.BeginForm("DeleteUser", "UserManagement",
                        FormMethod.Post,
                        new { @class = "col-xs-2" }))
                    {
                        @Html.Hidden("userId", item.UserId)
                        @Html.Hidden("returnUrl", Request.Url)

                        <button type="submit" class="btn btn-danger  btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                }
            </td>

        </tr>
    }
</table>
