@model IEnumerable<OnlineDietManager.WebUI.Models.AppUserViewModel>
@using OnlineDietManager.Domain.UsersManagement

@{
    ViewBag.Title = "All users";
}

<div class="panel">
    <div class="panel-heading">
        <p class="tableHeading text-center text-uppercase">@ViewBag.Title</p>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="col-md-4">@Html.DisplayNameFor(model => model.UserName)</th>
                <th class="col-md-4">@Html.DisplayNameFor(model => model.Role)</th>
                <th class="col-md-4">Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Role)</td>

                    <td>
                        <div class="btn-group btn-group-sm">
                            @if (item.Role == AppRole.RoleTypeToString(AppRole.RoleType.User))
                            {
                                <div class="btn-group">
                                    @using (@Html.BeginForm("GrantAdminRights", "UserManagement"))
                                    {
                                        @Html.Hidden("userId", item.UserId)
                                        @Html.Hidden("returnUrl", Request.Url)

                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </button>
                                    }
                                </div>

                                <div class="btn-group">
                                    @using (@Html.BeginForm("DeleteUser", "UserManagement"))
                                    {
                                        @Html.Hidden("userId", item.UserId)
                                        @Html.Hidden("returnUrl", Request.Url)

                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>