@model OnlineDietManager.WebUI.Models.IngredientViewModel

@{
    if (string.IsNullOrEmpty(Model.Ingredient.Name)) {
        ViewBag.Title = "Create new Ingredient";
    } else  {
        ViewBag.Title = string.Format("Edit {0}", Model.Ingredient.Name);
    }
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Edit", "Ingredients"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Ingredient.ID)
        @Html.HiddenFor(model => model.Ingredient.OwnerID)

        @Html.HiddenFor(model => model.ReturnUrl)

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredient.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredient.Name)
                @Html.ValidationMessageFor(model => model.Ingredient.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredient.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredient.Description)
                @Html.ValidationMessageFor(model => model.Ingredient.Description)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Ingredient.Protein, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredient.Protein)
                @Html.ValidationMessageFor(model => model.Ingredient.Protein)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredient.Fat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredient.Fat)
                @Html.ValidationMessageFor(model => model.Ingredient.Fat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredient.Carbohydrates, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredient.Carbohydrates)
                @Html.ValidationMessageFor(model => model.Ingredient.Carbohydrates)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredient.Caloricity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredient.Caloricity)
                @Html.ValidationMessageFor(model => model.Ingredient.Caloricity)
            </div>
        </div>
        
         @Html.Partial("_SaveCancelPartial", Model.ReturnUrl) <!--new NavigateToActionModel { Action = "Index" }-->
    </div>
}