@model IEnumerable<OnlineDietManager.Domain.DishesManagement.Ingredient>

@{
    ViewBag.Title = "All my ingredients";
}

<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>

<p>
    @Html.ActionLink(
        linkText:       "Create New",
        actionName:     "Create",
        routeValues:    new { returnUrl = Request.Url }, 
        htmlAttributes: new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Protein)</th>
        <th>@Html.DisplayNameFor(model => model.Fat)</th>
        <th>@Html.DisplayNameFor(model => model.Carbohydrates)</th>
        <th>@Html.DisplayNameFor(model => model.Caloricity)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.ID, returnUrl = Request.Url })</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Protein)</td>
            <td>@Html.DisplayFor(modelItem => item.Fat)</td>
            <td>@Html.DisplayFor(modelItem => item.Carbohydrates)</td>
            <td>@Html.DisplayFor(modelItem => item.Caloricity)</td>
            <td>
                @using (@Html.BeginForm("Delete", "Ingredients"))
                {
                    @Html.Hidden("ID", item.ID)
                    @Html.Hidden("returnUrl", Request.Url)
                    
                    @*<input type="submit" class="btn btn-default btn-xs" value="Delete" />*@
                    <button type="submit" class="btn btn-danger btn-sm">
                        <div class="glyphicon glyphicon-remove"></div>
                    </button>
                }
            </td>
        </tr>
    }

</table>
