@model OnlineDietManager.Domain.CoursesManagement.Course

<div class="panel panel-default">
    <div class="panel-heading text-centrified"><h4>Nutritional summary</h4></div>
    <div class="panel-body">
        <div class="row">
            <p class="col-xs-4" style="font-weight: bold">Protein:</p>
            <p class="col-xs-4">@Model.Days. g</p>
        </div>
        <div class="row">
            <p class="col-xs-4" style="font-weight: bold">Fat:</p>
            <p class="col-xs-4">@Model.Fat g</p>
        </div>
        <div class="row">
            <p class="col-xs-4" style="font-weight: bold">Carbohydrates:</p>
            <p class="col-xs-4">@Model.Carbohydrates g</p>
        </div>
        <div class="row">
            <p class="col-xs-4" style="font-weight: bold">Caloricity:</p>
            <p class="col-xs-4">@Model.Caloricity g</p>
        </div>
        <div class="row">
            <p class="col-xs-4" style="font-weight: bold">Weight:</p>
            <p class="col-xs-4">@Model.Weight g</p>
        </div>
    </div>
</div>
