@model OnlineDietManager.WebUI.Models.DishViewModel

<div class="panel">
    <div class="panel-heading">
        <p class="tableHeading text-center text-uppercase">@ViewBag.Title</p>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Dish.ID)
                    @Html.HiddenFor(model => model.Dish.OwnerID)

                    @Html.HiddenFor(model => model.ReturnUrl)

                    <div class="form-group">
                        <div>
                            @Html.LabelFor(model => model.Dish.Name)
                            @Html.TextBoxFor(model => model.Dish.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dish.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            @Html.LabelFor(model => model.Dish.Description)
                            @Html.TextAreaFor(model => model.Dish.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dish.Description)
                        </div>
                    </div>

                    @Html.Partial("_SaveCancelPartial", Model.ReturnUrl)
                </div>
            </div>
        }
    </div>
</div>