@model OnlineDietManager.WebUI.Models.IngredientViewModel

@Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Ingredient.ID)
    @Html.HiddenFor(model => model.Ingredient.OwnerID)

    @Html.HiddenFor(model => model.ReturnUrl)

    <div class="form-group">
        @Html.LabelFor(model => model.Ingredient.Name)
        @Html.TextBoxFor(model => model.Ingredient.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Ingredient.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ingredient.Description)
        @Html.TextAreaFor(model => model.Ingredient.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Ingredient.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ingredient.Protein)
        @Html.TextBoxFor(model => model.Ingredient.Protein, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Ingredient.Protein)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ingredient.Fat)
        @Html.TextBoxFor(model => model.Ingredient.Fat, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Ingredient.Fat)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ingredient.Carbohydrates)
        @Html.TextBoxFor(model => model.Ingredient.Carbohydrates, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Ingredient.Carbohydrates)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ingredient.Caloricity)
        @Html.TextBoxFor(model => model.Ingredient.Caloricity, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Ingredient.Caloricity)
    </div>

    @Html.Partial("_SaveCancelPartial", Model.ReturnUrl)