@model OnlineDietManager.WebUI.Models.DishViewModel

<div class="panel">
    <div class="panel-heading">
        <p class="tableHeading text-center text-uppercase">@ViewBag.Title</p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div>
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Dish.ID)
                        @Html.HiddenFor(model => model.Dish.OwnerID)

                        @Html.HiddenFor(model => model.ReturnUrl)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Dish.Name)
                            @Html.TextBoxFor(model => model.Dish.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dish.Name)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Dish.Description)
                            @Html.TextAreaFor(model => model.Dish.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dish.Description)
                        </div>

                        @Html.Partial("_SaveCancelPartial", Model.ReturnUrl)
                    </div>
                }
            </div>
            <div class="col-xs-4 col-xs-offset-1">
                @Html.Partial("_DishNutritionalSummary", Model.Dish)
            </div>
        </div>

        <div class="row">
            @Html.Action("Index", "DishComponents", new { dishRefId = Model.Dish.ID, returnUrl = Request.Url })
        </div>
    </div>
</div>



