@model OnlineDietManager.WebUI.Models.EditDayViewModel

<div class="col-xs-7">
    <div>
        @using (Html.BeginForm("Edit", "Days"))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Day.ID)
                @Html.HiddenFor(model => model.Day.CourseID)
            
                @Html.HiddenFor(model => model.ReturnUrl)
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Day.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Day.Description)
                        @Html.ValidationMessageFor(model => model.Day.Description)
                    </div>

                    @*<a href="@Url.Action("Delete", "Days", new { dayId = Model.Day.ID, returnUrl = Request.Url })" class="col-md-1 btn btn-danger">
                        <span class="glyphicon glyphicon-remove" />
                    </a>*@
                </div>

            
                @Html.Partial("_SaveCancelPartial", Model.ReturnUrl)
            </div>
        }

        @using (Html.BeginForm("Delete", "Days", FormMethod.Post, new { @class = ""}))
        {

            @Html.Hidden("dayId", Model.Day.ID)
            @Html.Hidden("returnUrl", Request.Url)

            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        }
    </div>
</div>

<div class="col-xs-6">
    @Html.Action("Index", "Meal", new { dayRefId = Model.Day.ID, returnUrl = Request.Url })
</div>