@model OnlineDietManager.WebUI.Models.ListDaysViewModel

<div class="col-xs-2">
    <div class="panel panel-info">
        <div class="panel-heading text-centrified"><p class="panelHeading">Days</p></div>
        <div class="panel-body">
                @{
                    int i = 1;
                    foreach (var day in Model.Days)
                    {                        
                        @Html.ActionLink(
                            linkText: string.Format("Day #{0}", i),
                            actionName: "ChooseDay",
                            controllerName: "Days",
                            routeValues: new { dayId = day.ID, returnUrl = Request.Url },
                            htmlAttributes: new { 
                                @class = Model.SelectedDayId == day.ID ? 
                                    "btn btn-info btn-group-justified" :
                                    "btn btn-link btn-group-justified"
                            }
                        )
                        ++i;
                    }
                }
        </div>

        <div class="panel-footer">
            <div class="row">
                @using (@Html.BeginForm("Create", "Days", FormMethod.Post, new { @class = "col-xs-3" }))
                {
                    @Html.Hidden("CourseId", Model.CourseRefId)
                    @Html.Hidden("ReturnUrl", Request.Url)

                    <button type="submit" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                }

                @using (Html.BeginForm("Delete", "Days", FormMethod.Post, new { @class = "col-xs-3" }))
                {
                    @Html.Hidden("dayId", Model.SelectedDayId)
                    @Html.Hidden("returnUrl", Request.Url)

                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-xs-9">

</div>