@model OnlineDietManager.WebUI.Models.ListDishComponentsViewModel

<div class="row panel">
    <div class="col-xs-2">
        @Html.Action("Create", "DishComponents", new { returnUrl = Request.Url, dishRefId = Model.DishRefId })
    </div>

    <div class="col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading text-centrified"><h4>Components of Dish</h4></div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model.DishComponents)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(
                                    linkText: item.Ingredient.Name,
                                    actionName: "Edit",
                                    controllerName: "DishComponents",
                                    routeValues: new { Id = item.ID, dishRefId = item.DishRefID, returnUrl = Request.Url },
                                    htmlAttributes: null
                                )
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Weight)
                            </td>
                            <td>
                                @using (Html.BeginForm("Delete", "DishComponents"))
                                {

                                    @Html.Hidden("ingId", item.ID)
                                    @Html.Hidden("dishRefId", Model.DishRefId)
                                    @Html.Hidden("returnUrl", Request.Url)

                                    @*<input type="submit" class="btn btn-default btn-xs" value="Delete" />*@
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <div class="glyphicon glyphicon-remove"></div>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>