@model IEnumerable<OnlineDietManager.Domain.CoursesManagement.Course>
@using OnlineDietManager.Domain.UsersManagement

@{
    ViewBag.Title = "All general Courses";
}

<div class="panel">
    <div class="panel-heading">
        <p class="tableHeading text-center text-uppercase">@ViewBag.Title</p>
    </div>
    <div class="panel-body">
        @if (User.IsInRole(AppRole.RoleTypeToString(AppRole.RoleType.Admin)))
        {
            <p>
                <a href="@Url.Action("Create", "GeneralCourses", new { returnUrl = Request.Url })" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" />
                </a>
            </p>
        }

        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (User.IsInRole(AppRole.RoleTypeToString(AppRole.RoleType.Admin)))
                        {
                            @Html.ActionLink(item.ID.ToString(), "Edit", new { item.ID, returnUrl = Request.Url })
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ID)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <div class="btn-group">
                                @using (@Html.BeginForm("Launch", "ActiveCourses"))
                                {
                                    @Html.Hidden("idToLaunch", item.ID)
                                    @Html.Hidden("returnUrl", Request.Url)

                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <div class="glyphicon glyphicon-play"></div>
                                    </button>
                                }
                            </div>
                            <div class="btn-group">
                                @using (@Html.BeginForm("AddToPersonal", "GeneralCourses"))
                                {
                                    @Html.Hidden("Id", item.ID)
                                    @Html.Hidden("returnUrl", Request.Url)

                                    <button type="submit" class="btn btn-info btn-sm">
                                        <div class="glyphicon glyphicon-star"></div>
                                    </button>
                                }
                            </div>
                            <div class="btn-group">
                                @if (User.IsInRole(AppRole.RoleTypeToString(AppRole.RoleType.Admin)))
                                {
                                    using (@Html.BeginForm("Delete", "GeneralCourses"))
                                    {
                                        @Html.Hidden("Id", item.ID)
                                        @Html.Hidden("returnUrl", Request.Url)

                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <div class="glyphicon glyphicon-remove"></div>
                                        </button>
                                    }
                                }
                            </div>
                        </div>
                    </td>

                </tr>
            }

        </table>
    </div>
</div>