@model OnlineDietManager.WebUI.Models.CourseViewModel

@{
    if (Model.Course.ID == 0) {
        ViewBag.Title = "Create new Course";
    } else {
        ViewBag.Title = string.Format("Edit Course '{0}'", Model.Course.ID);
    }
}

<h2>@ViewBag.Title</h2>

<div class="row panel">
    <div class="col-xs-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Course.ID)
                @Html.HiddenFor(model => model.Course.OwnerID)
                @Html.HiddenFor(model => model.ReturnUrl)

                <div class="form-group">
                    @Html.LabelFor(model => model.Course, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Course.Description)
                        @Html.ValidationMessageFor(model => model.Course.Description)
                    </div>
                </div>

                @Html.Partial("_SaveCancelPartial", Model.ReturnUrl)
            </div>
        }
    </div>
</div>

<div class="row">
    @Html.Action("Index", "Days", new { courseRefId = Model.Course.ID, returnUrl = Request.Url })

    @if (Model.SelectedDayId != null)
    {
        @Html.Action("Index", "Days", new { courseRefId = Model.Course.ID, returnUrl = Request.Url })
    }
</div>



